<head>
	<style type="text/css">
	/* Form Stuff */
	#log_in_form, #sign_up_form {
		width: 300px;
	}
	
	/* Post Stuff */
	.post_title {
		width: 50%;
	}
	
	.post_content {
		width: 50%;
		height: 10em;
	}
	
	/* Comment Stuff */
	
	#comments {
		
	}
	
	.single_comment {
		
	}
	</style>
</head>

<body>

<h1><a href="/">Cara's Amazing Blog Site</a></h1>

<%= yield %>
	
</body>