<h2>New post for <%= @user.username %> blog</h2>

<form method="post" action="/blog/<%= @user.username %>/publish_post">
	<input type="text" name="title" class="post_title"/><br />
	<textarea name="content" class="post_content" /></textarea><br />
	<button type="submit">Post</button>
</form>